# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# macOS
.DS_Store

# ML data
data/
checkpoints/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log

mlflow.db
mlruns/
